<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hii uwu</title>

    <link rel="stylesheet" href="style/style.css">

</head>
<body style="margin: 0;">
    <main style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <img src="<%=data.srcPhoto%>" alt="<%=data.altPhoto%> photo">
    </main>
</body>
</html>