<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access</title>

    <link rel="stylesheet" href="style/style.css">

</head>
<body>
    <main>
        <form action="/access" method="post">
    
            <label for="email">
                <input type="email" name="email" id="email" placeholder="Email">
            </label>
    
            <label for="">
                <input type="text" name="educational_institution" id="educational_institution" placeholder="Educational institution">
            </label>
    
            <br>

            <button type="submit">Request access</button>
        </form>
    </main>
</body>
</html>