<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send mail</title>

    <link rel="stylesheet" href="style/style.css">

</head>
<body>
    <main>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <a class="mail-to" href="mailto:<%=data.mail%>"><span style="color: black;">mail to:</span> <%=data.mail%></a>
            <br>
            <p>Thanks u.u</p>
        </div>
    </main>
</body>
</html>